@@font-face {
  font-family:dead-kansas;
  src: url(fonts/dead-kansas.ttf);
}
body {
background-color: white;
color: black;
padding-top: 50px;
}
.navbar-default {
  background-color: #D01618;
  border-color: #D01618;
  color: white;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-brand img {
  display: block;
  width: 46%;
  margin: -13px 0 0 0;
}
footer .container {
  color: white;
  background-image: url('/img/footer_img.png');
  width: 100%;
}
.container #personal{
  background-color: white;
  color: black;
  font-size: 16px;
}


.container p{
  display: block;
  align-items: center;
  font-size: 20px;
  font-family: dead-kansas;
}
#resp #resps:hover {
  background-color: #D01618;
  border-radius: 1em;
  color:white;
}
/* COpias */
.next {
	display: none;
}

#result, .result_container {
	width: 100%;
	height: auto;
}

#result-container {
	padding: 250px 0px;
}


#castrador{
  margin-left: 20%;
}
#castrador, #chismoso, #desmotivador, #negativo, #resistente {
	color: #fff;
	font-style: 20px;
	width: 220px;
	height: 360px;
	margin-top: 74%;
}

#result_castrador, #result_chismoso, #result_desmotivador, #result_negativo, #result_resistente {
	margin-top: -48%;
	color: #fff;
	font-weight: 800;
	font-size: 20px;
  font-family: dead-kansas;
}

#result_castrador {
	margin-left: 30%;
}

#result_chismoso {
	margin-left: 13%%;
}

#result_desmotivador {
	margin-left: 15%;
}

#result_negativo {
	margin-left: 8%;
}

#result_resistente {
	margin-left: 10%;
}

.castrador_0 {
	position: relative;
	background: url('/img/jefe/Jefe_0.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.castrador_25 {
	position: relative;
	background: url('/img/jefe/Jefe_25.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.castrador_50 {
	position: relative;
	background: url('/img/jefe/Jefe_50.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.castrador_75 {
	position: relative;
	background: url('/img/jefe/Jefe_75.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.castrador_100 {
	position: relative;
	background: url('/img/jefe/Jefe_100.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.chismoso_0 {
	position: relative;
	background: url('/img/chismoso/Chismosa_0.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.chismoso_25 {
	position: relative;
	background: url('/img/chismoso/Chismosa_25.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.chismoso_50 {
	position: relative;
	background: url('/img/chismoso/Chismosa_50.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.chismoso_75 {
	position: relative;
	background: url('/img/chismoso/Chismosa_75.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.chismoso_100 {
	position: relative;
	background: url('/img/chismoso/Chismosa_100.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.desmotivador_0 {
	position: relative;
	background: url('/img/desmotivador/Desmotivador_0.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.desmotivador_25 {
	position: relative;
	background: url('/img/desmotivador/Desmotivador_25.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.desmotivador_50 {
	position: relative;
	background: url('/img/desmotivador/Desmotivador_50.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.desmotivador_75 {
	position: relative;
	background: url('/img/desmotivador/Desmotivador_75.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.desmotivador_100 {
	position: relative;
	background: url('/img/desmotivador/Desmotivador_100.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.negativo_0 {
	position: relative;
	background: url('/img/negativo/Negativo_0.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.negativo_25 {
	position: relative;
	background: url('/img/negativo/Negativo_25.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.negativo_50 {
	position: relative;
	background: url('/img/negativo/Negativo_50.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.negativo_75 {
	position: relative;
	background: url('/img/negativo/Negativo_75.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.negativo_100 {
	position: relative;
	background: url('/img/negativo/Negativo_100.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.resistente_0 {
	position: relative;
	background: url('/img/resistente/Resistente_0.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.resistente_25 {
	position: relative;
	background: url('/img/resistente/Resistente_25.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.resistente_50 {
	position: relative;
	background: url('/img/resistente/Resistente_50.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.resistente_75 {
	position: relative;
	background: url('/img/resistente/Resistente_75.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.resistente_100 {
	position: relative;
	background: url('/img/resistente/Resistente_100.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

#show_result,#result{
	display: none;
	font-size: 16px;
}
@media (min-width:280px) and (max-width:767px){
  #result_container{
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 650vh;
  }
  #m_castrador{
      background-image: url("/img/jefe/movil_castrador.jpg");
      background-repeat: no-repeat;
      width: 281px;
      height: 600px;
    }
  #m_desmotivador{
      background-image: url("/img/desmotivador/movil_desmotivador.jpg");
      background-repeat: no-repeat;
      width: 281px;
      height: 600px;
  }
  #m_resistente{
       background-image: url("/img/resistente/movil_resistente.jpg");
       background-repeat: no-repeat;
       width: 281px;
       height: 600px;
  }
  #m_negativo{
     background-image: url("/img/negativo/movil_negativo.jpg");
     background-repeat: no-repeat;
     width: 281px;
     height: 600px;
   }
  #m_chismoso{
     background-image: url("/img/chismoso/movil_chismoso.jpg");
     background-repeat: no-repeat;
     width: 281px;
     height: 600px;
  }


 #chismoso{
  	color: #fff;
  	font-style: 20px;
  	width: 160px;
  	height: 360px;
  	margin-top: 55%;
  }
  #desmotivador {
    color: #fff;
    margin-top: 55%;
  	font-style: 20px;
    margin-left: 10%;
    width: 87%;
  }
  #castrador{
    margin-left: 17%;
    width: 87%;
    margin-top:55%;
  }

  #resistente{
    color: #fff;
  	font-style: 20px;
    margin-left: 10%;
    width: 87%;
    margin-top: 55%;
  }
  #negativo{
    color: #fff;
  	font-style: 20px;
    margin-left: 10%;
    width: 87%;
    margin-top: 55%;
  }
  #chismoso {
    margin-left: 6%;
    width: 87%;
  }

  #result_negativo{
    margin-left: 3%;
    margin-top: -32%;
    }
  #result_resistente {
   margin-left: 0%;
   margin-top: -34%;
  }

  #result_desmotivador{
    margin-left: 10%;
    margin-top: -31%;
  }
  #result_castrador {
      margin-left: 14%;
      margin-top: -34%;
  }
  #result_chismoso{
    margin-left: -3%;
    margin-top: -33%;
  }

}

@media (min-width:768px) and (max-width:991px){
  .result_container {
   background-size: cover;
   width: 100%;
   height: 556px;
   z-index: 0;
  background: url('/img/background_768.png') 0 0 no-repeat;
   width: 100%;
  }
  .col-sm-3 {
    width: 20%;
  }
  .col-sm-2 {
    width: 20%;
  }
  .container p{
  font-size: 14px;
  }
  #result_castrador, #result_chismoso, #result_desmotivador, #result_negativo, #result_resistente {
   margin-top: -138%;
   color: #fff;
   font-weight: 800px;
   font-size: 14px;
  }

  #castrador, #chismoso, #desmotivador, #negativo, #resistente {
  	color: #fff;
  	font-style: 20px;
  	width: 160px;
  	height: 360px;
  	margin-top: 55%;
  }
  #result_negativo, #result_resistente {
   margin-left: -90%;
  }

  #result_desmotivador{
    margin-left: -25%;
  }
  #result_castrador {
      margin-left: 25%;
  }
  #result_chismoso{
    margin-left: -160%;
  }
  #castrador{
    margin-left: 1%;
  }
  #desmotivador{
    margin-left: -10%
  }
  #resistente{
    margin-left: -53%;
  }
  #negativo{
    margin-left: -66%;
  }
  #chismoso {
    margin-left: -80%;
  }

}
@media (min-width:992px) and (max-width:1199px) {
  .col-sm-3 {
    width: 18%;
  }
  .result_container {
  	background: url('/img/background_992.png') 0 0 no-repeat;
  	width: 100%;
  	height: 556px;
  	z-index: 0;
  }
  #castrador, #chismoso, #desmotivador, #negativo, #resistente {
  	color: #fff;
  	font-style: 20px;
  	width: 210px;
  	height: 180px;
  	margin-top: 80%;
  }

  #castrador{
    margin-top: 70%;
    margin-left: 17%;
  }
  #desmotivador{
    margin-left: -10%;
  }
  #resistente{
    margin-left: -16%;
  }
  #negativo{
    margin-left: -13%;
  }
  #chismoso {
    margin-left: -15%;
  }

  #result_negativo {
   margin-top: 42%;
   margin-left: 14%;
  }
  #result_resistente{
   margin-top: 42%;
   margin-left: 1%;
  }

  #result_desmotivador{
    margin-top: 42%;
    margin-left: 0%;
  }
  #result_castrador {
      margin-top: 41%;
      margin-left: 20%;
  }
  #result_chismoso{
    margin-top: 40%;
    margin-left: 25%;
  }
}
@media (min-width:1200px) {
  .result_container {
  	background: url('/img/background.png') 0 0 no-repeat;
  	background-size: cover;
  	width: 100%;
  	height: 556px;
  	z-index: 0;
  }
}
