
footer .container {
  color: white;
  background-image: url('/img/footer_img.png');
  width: 100%;
}

.container p{
  display: inline;
  font-size: 16px;
}
.contenedor_datos {
  background-color: black;
  width: 992px;

}
#datos{
    color:white;
    display: inline-block;
    align-items: center;
    font-size: 18px;
  }
td {
    margin: 25px;
}

.fondo_grafica {
     background: url('/img/background_992.png') 0 0 no-repeat;
    /* background-repeat: no-repeat; */
     width: 992px;
     height: 492px;
     /* */
  }


  /* Imagenes */
  #castrador {
    color: #fff;
    display: block;
    font-style: 20px;
    margin-top: 8%;
    margin-left: -60%;
  }
  /* Resultados */
  #result_castrador {
    color: #fff;
    font-weight: 800px;
    font-size: 14px;
    margin-top: -10%;
    margin-left: -80%;
  }
  /* Imagen*/
  #desmotivador{
    color: #fff;
    display: block;
    font-style: 20px;
    margin-top: -30%;
    margin-left: -50%;
  }
  /* Resultados */
  #result_desmotivador{
    color: #fff;
    font-weight: 800px;
    font-size: 14px;
    margin-top: -10%;
    margin-left: -50%;
  }
  #resistente{
    color: #fff;
    display: block;
  	font-style: 20px;
    margin-top: -29%;
    margin-left: -50%;
  }
  #result_resistente {
   color: #fff;
   font-weight: 800px;
   font-size: 14px;
   margin-top: -11%;
   margin-left: -17%;
  }
  #negativo {
    color: #fff;
    display: block;
  	font-style: 20px;
    margin-top: -29%;
    margin-left: -40%;
  }
  #result_negativo {
    color: #fff;
    font-weight: 800px;
    font-size: 14px;
    margin-top: -11%;
    margin-left: 19%;
  }
  #chismoso {
    color: #fff;
    display: block;
  	font-style: 20px;
    margin-top: -29%;
    margin-left: -20%;
  }
  #result_chismoso {
    color: #fff;
    font-weight: 800px;
    font-size: 14px;
    margin-top: -11%;
    margin-left: 53%;
  }
/* Zombies */
.castrador_0 {
	position: relative;
	background: url('/img/jefe/Jefe_0.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
  left: -37%;
}

.castrador_25 {
	position: relative;
	background: url('/img/jefe/Jefe_25.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
  left: -37%;
}

.castrador_50 {
	position: relative;
	background: url('/img/jefe/Jefe_50.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
  left: -37%;
}

.castrador_75 {
	position: relative;
	background: url('/img/jefe/Jefe_75.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
  left: -37%;
}

.castrador_100 {
	position: relative;
	background: url('/img/jefe/Jefe_100.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
  left: -37%;
}

.desmotivador_0 {
	position: relative;
	background: url('/img/desmotivador/Desmotivador_0.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
  left: -24%;
}

.desmotivador_25 {
	position: relative;
	background: url('/img/desmotivador/Desmotivador_25.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
  left: -24%;
}

.desmotivador_50 {
	position: relative;
	background: url('/img/desmotivador/Desmotivador_50.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
  left: -24%;
}

.desmotivador_75 {
	position: relative;
	background: url('/img/desmotivador/Desmotivador_75.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
  left: -24%;
}

.desmotivador_100 {
	position: relative;
	background: url('/img/desmotivador/Desmotivador_100.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
  left: -24%;
}

.resistente_0 {
	position: relative;
	background: url('/img/resistente/Resistente_0.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
  left: -8%;
}

.resistente_25 {
	position: relative;
	background: url('/img/resistente/Resistente_25.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
  left: -8%;
}

.resistente_50 {
	position: relative;
	background: url('/img/resistente/Resistente_50.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
  left: -8%;
}

.resistente_75 {
	position: relative;
	background: url('/img/resistente/Resistente_75.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
  left: -8%;
}

.resistente_100 {
	position: relative;
	background: url('/img/resistente/Resistente_100.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
  left: -8%;
}

.negativo_0 {
	position: relative;
	background: url('/img/negativo/Negativo_0.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
  left: 10%;
}

.negativo_25 {
	position: relative;
	background: url('/img/negativo/Negativo_25.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
  left: 10%;
}

.negativo_50 {
	position: relative;
	background: url('/img/negativo/Negativo_50.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
  left: 10%;
}

.negativo_75 {
	position: relative;
	background: url('/img/negativo/Negativo_75.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
  left: 10%;
}

.negativo_100 {
	position: relative;
	background: url('/img/negativo/Negativo_100.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
  left: 10%;
}


.chismoso_0 {
	position: relative;
	background: url('/img/chismoso/Chismosa_0.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
  left: 28%;
}

.chismoso_25 {
	position: relative;
	background: url('/img/chismoso/Chismosa_25.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
  left: 28%;
}

.chismoso_50 {
	position: relative;
	background: url('/img/chismoso/Chismosa_50.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
  left: 28%;
}

.chismoso_75 {
	position: relative;
	background: url('/img/chismoso/Chismosa_75.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
  left: 28%;
}

.chismoso_100 {
	position: relative;
	background: url('/img/chismoso/Chismosa_100.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
  left: 28%;
}
