.next {
	display: none;
}

#result, .result_container {
	width: 100%;
	height: auto;
}

#result-container {
	padding: 250px 0px;
}

.result_container {
	background: url('/img/background.png') 0 0 no-repeat;
	background-size: cover;
	width: 100%;
	height: 556px;
	z-index: 0;
}

#castrador, #chismoso, #desmotivador, #negativo, #resistente {
	color: #fff;
	font-style: 20px;
	width: 220px;
	height: 360px;
	margin-top: 73%;
}

#result_castrador, #result_chismoso, #result_desmotivador, #result_negativo, #result_resistente {
	margin-top: -55%;
	color: #fff;
	font-weight: 800;
	font-size: 20px;
}

#result_castrador {
	margin-left: -60%;
}

#result_chismoso {
	margin-left: -50%;
}

#result_desmotivador {
	margin-left: -30%;
}

#result_negativo {
	margin-left: 8%;
}

#result_resistente {
	margin-left: 30%;
}

.castrador_0 {
	position: relative;
	background: url('/img/jefe/Jefe_0.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.castrador_25 {
	position: relative;
	background: url('/img/jefe/Jefe_25.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.castrador_50 {
	position: relative;
	background: url('/img/jefe/Jefe_50.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.castrador_75 {
	position: relative;
	background: url('/img/jefe/Jefe_75.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.castrador_100 {
	position: relative;
	background: url('/img/jefe/Jefe_100.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.chismoso_0 {
	position: relative;
	background: url('/img/chismoso/Chismosa_0.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.chismoso_25 {
	position: relative;
	background: url('/img/chismoso/Chismosa_25.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.chismoso_50 {
	position: relative;
	background: url('/img/chismoso/Chismosa_50.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.chismoso_75 {
	position: relative;
	background: url('/img/chismoso/Chismosa_75.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.chismoso_100 {
	position: relative;
	background: url('/img/chismoso/Chismosa_100.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.desmotivador_0 {
	position: relative;
	background: url('/img/desmotivador/Desmotivador_0.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.desmotivador_25 {
	position: relative;
	background: url('/img/desmotivador/Desmotivador_25.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.desmotivador_50 {
	position: relative;
	background: url('/img/desmotivador/Desmotivador_50.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.desmotivador_75 {
	position: relative;
	background: url('/img/desmotivador/Desmotivador_75.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.desmotivador_100 {
	position: relative;
	background: url('/img/desmotivador/Desmotivador_100.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.negativo_0 {
	position: relative;
	background: url('/img/negativo/Negativo_0.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.negativo_25 {
	position: relative;
	background: url('/img/negativo/Negativo_25.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.negativo_50 {
	position: relative;
	background: url('/img/negativo/Negativo_50.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.negativo_75 {
	position: relative;
	background: url('/img/negativo/Negativo_75.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.negativo_100 {
	position: relative;
	background: url('/img/negativo/Negativo_100.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.resistente_0 {
	position: relative;
	background: url('/img/resistente/Resistente_0.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.resistente_25 {
	position: relative;
	background: url('/img/resistente/Resistente_25.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.resistente_50 {
	position: relative;
	background: url('/img/resistente/Resistente_50.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.resistente_75 {
	position: relative;
	background: url('/img/resistente/Resistente_75.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

.resistente_100 {
	position: relative;
	background: url('/img/resistente/Resistente_100.png') 0 0 no-repeat;
	background-size: contain;
	width: 220px;
	height: 360px;
}

 #show_result,#result{
	display: none;
	font-size: 16px;
}
